<% provide(:title, "トレーニングの編集") %>
<h2 class="trainings__title">トレーニングの編集</h2>
<%= form_with model: @training, url: training_path, method: :patch, local: true, class: 'trainings__form' do |f| %>
  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>
  <div>
    （未定）カテゴリー
  </div>
  <div>
    <%= f.label :url, "動画URL" %>
    <%= f.url_field :url %>
  </div>
    <%= f.submit %>
<% end %>