<% provide(:title, "個別トレーニングページ") %>
<h3><%= @training.title %></h3>
<% iframe = content_tag(
    :iframe,
    '', # empty body
    width: 560,
    height: 315,
    src: "#{@training.url}",
    frameborder: 0,
    allowfullscreen: true
) %>
<%= content_tag(:div, iframe, class: 'youtube-container') %>
<div>
  <%= form_with model: @user_answer, url: "/trainings/#{@training.id}/questions/answer", method: :post, local: true do |f| %>
    <% @questions.each do |q| %>
      <h3>問題<%= q.number %> ▶︎ <%= q.content %></h3>
      <ol>
        <% q.choices.each do |c| %>
          <li><%= c.content %><%= "◀︎正解です" if c.is_answer %></li>
        <% end %>
      </ol>
      <% if user_signed_in? %>
        <h4>ログインしているので答える</h4>
          <% q.choices.all.each do |c| %>
            <label><%= f.radio_button(:"choice_id_#{q.id}", c.id) %><%= c.content %></label>
          <% end %>
      <% end %>
      <div>====================================================</div>
    <% end %>
    <div>
      <%= f.submit "答える" if @training.questions.present? %>
    </div>
  <% end %>
</div>