<% provide(:title, "個別トレーニングページ") %>
<h3><%= @training.title %></h3>
<% iframe = content_tag(
    :iframe,
    '', # empty body
    width: 560,
    height: 315,
    src: "#{@training.url}",
    frameborder: 0,
    allowfullscreen: true
) %>
<%= content_tag(:div, iframe, class: 'youtube-container') %>
<div>
  <% @training.questions.each do |q| %>
    <p>問題 ▶︎ <%= q.content %></p>
    <ol>
      <% q.choices.each do |c| %>
        <li><%= c.content %><%= "◀︎正解です" if c.is_answer %></li>
      <% end %>
    </ol>
    <% if user_signed_in? %>
      <h3>ログインしているので問題に答える</h3>
      <%= form_with model: @user_answer, url: "/trainings/#{@training.id}/questions/#{q.id}/answer", method: :post, local: true do |f| %>
        <%= f.radio_button :answer, '1' %>
        <%= f.label :answer, '1が正解', value: 1 %>
        <%= f.radio_button :answer, '2' %>
        <%= f.label :answer, '2が正解', value: 2 %>
        <%= f.radio_button :answer, '3' %>
        <%= f.label :answer, '3が正解', value: 3 %>
        <%= f.radio_button :answer, '4' %>
        <%= f.label :answer, '4が正解', value: 4 %>
        <%= f.submit "答える" %>
      <% end %>
    <% end %>
  <% end %>
</div>