<% provide(:title, "問題編集ページ") %>
<h3><%= @training.title %>の問題を編集</h3>
<%= form_with model: [@training ,@question], url: training_question_path, method: :patch, local:true do |f| %>
  <div>
    <%= f.label :number, "設問番号" %>
    <%= f.select :number, [*1..20], { include_blank: '--'} %>
    <%= f.label :content, "設問内容" %>
    <%= f.text_area :content %>
    <%= f.hidden_field :training_id, :value => @training.id %>
  </div>
  <%= f.fields_for :choices do |c| %>
    <div>
      <%= c.label :content, "選択肢" %>
      <%= c.text_field :content %>
      <label>正解ならチェック<%= radio_button_tag "question[choices_attributes][is_answer]", c.index, c.object.is_answer %></label>
    </div>
  <% end %>

  <p><%= f.submit %></p>
<% end %>