<% provide(:title, @chapter.chapter_title) %>
<h2 class="trainings__title"><%= @training.title %></h2>
<%= link_to "この章を編集する", edit_training_chapter_path(@training,@chapter), class: 'link-btn' %>
<h3><%= @chapter.chapter_title %></h3>
<% iframe = content_tag(
    :iframe,
    '', # empty body
    width: 780,
    height: 440,
    src: "#{@chapter.url}",
    frameborder: 0,
    allowfullscreen: true
) %>
<%= content_tag(:div, iframe, class: 'youtube-container') %>
<p>第<%= @chapter.chapter_num %>章</p>
<%= @chapter.content %>
<%= link_to "この章の問題を作成する", new_training_chapter_question_path(@training,@chapter), class: 'link-btn' %>

<h4>ユーザーの回答・未回答状態のステータス</h4>
<!-- 問題数() == @user_answer_total -->
<% @answered_questions.each do |aq| %>
  <p>この問題のid？ ▶︎ <%= aq.id %></p>
  <p>この問題の内容 ▶︎ <%= aq.content %></p>
<% end %>

<div>
  <%= form_with model: @user_answer, url: "/trainings/#{@training.id}/chapters/#{@chapter.id}/questions/answer", method: :post, local: true, class: 'trainings__form' do |f| %>
    <% @questions.each do |q| %>
      <div class="question__wrapper">
        <%= link_to "この問題を編集する", edit_training_chapter_question_path(@training, @chapter, q), class: 'link-btn' %>
        <h3 class="question__title">問題<%= q.number %> ▼</h3>
        <div class="question__content">
          <%= q.content %>
        </div>
        <% if user_signed_in? %>
          <div class="question__answer">
            <h4>ログインしているので答える</h4>
            <% q.choices.all.each do |c| %>
              <label><%= f.radio_button(:"choice_id_#{q.id}", c.id, required: true) %><%= c.content %></label>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div>
      <%= f.submit "答える" if @chapter.questions.present? %>
    </div>
  <% end %>
</div>